<h1>Forms</h1>
<ul class="nav nav-tabs">
	<li role="presentation" class="active"><a href="#/form">Forms</a></li>
	<li role="presentation"><a href="#/field">Fields</a></li>
</ul>

<!--<table class="table table-striped table-bordered" id="formTable" ng-controller="FormController">-->
<table class="table table-striped table-bordered" id="formTable">
	<tr>
		<th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Form Name</th>
		<th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Action</th>
	</tr>
	<tr>
		<th>
			<input type="text" ng-model="title" class="form-control" id="inputFormName" placeholder="Name">
		</th>
		<th>
			<button ng-click="model.createFormForUser()" class="btn btn-default btn-no-makeup"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
			<button ng-click="model.updateFormById()" class="btn btn-default btn-no-makeup"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
		</th>
	</tr>

	<tr ng-repeat="form in forms track by $index">
		<td><a href="" ng-click="model.getFields($index)" >{{form.title}}</a></td>
		<td>
			<button ng-click="model.deleteFormById($index)" class="btn btn-default btn-no-makeup"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
			<button ng-click="model.selectForm($index)" class="btn btn-default btn-no-makeup"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
		</td>
	</tr>
</table>

