<div class="container alert alert-info lobbyContainer">
	<h1>Welcome to Hadns Up</h1>
	<h2>Try the realtime interactive blackboard based on socket.io, and P2P video chat powered by WebRTC</h2>
	<button type="submit" id="profileBtn" ng-click="model.edit()" class="btn btn-warning accountBtn">Edit Profile</button>
	<button type="submit" id="profileBtn" ng-click="model.enter()" class="btn btn-warning accountBtn">Enter Classroom</button>
</div>

<div class="container alert alert-danger lobbyContainer">
	<h2>Please open two tabs with different session(you may try incognito mode). Chrome preferred.</h2>
</div>