body{
	background-image: url('../src/img/background.png')
}

div { 
        -moz-user-select: none; 
        -khtml-user-select: none; 
        -webkit-user-select: none; 
        -o-user-select: none; 
} 

#icon-img{
	display: inline;
}

.noPadding{
	padding:0px !important;
}
/*#colorpicker{
	display: none;
}*/

#canvasContainer{
	/*border:1px solid #000000;*/
	height : 480px;
	background-image: url('../src/img/canvas_bg.png');
	background-size: 750px 480px;
    background-repeat: no-repeat;
}

canvas{
	/*border:1px solid #000000;*/
	position: absolute; 
	/*top: 200px; */
}

.color-span{
	border-radius: 2px;
}

#media{
	height:0px;
}
#media2{
	width: 320px;
	/*height:20%;*/
	display: none;
	margin: auto;
}

#board{
	z-index: 3;
}
#board2{
	z-index: 2;
}
#board3{
	z-index: 1;
}

.toolbar-btn{
	background-color: rgba(190,190,190,0.1) !important;
}

.toolbar-menu a{
	padding: 6px 12px 6px 12px !important;
	width: 63px;
}

.toolbar-menu, .toolbar-menu li{
	background-color: rgba(190,190,190,0.1) !important;
	width: 65px !important;
	min-width: 65px !important;
}

#toolbarPanel{
	padding: 5px !important;
}

#colorMenu a{
	padding-top: 1px !important;
	padding-bottom: 1px !important;
}

.inline{
	display: inline;
}

.site-navbar{
	background-color: #A8D4DA !important;
	margin-bottom: 0px !important;
}
.slider.slider-horizontal{
	width : 130px !important;
}

.panel-heading{
	background-color: #A8D4DA !important;
}


.chat-user-container{
	/*padding-top: 10px !important;*/
}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

#chat-main-panel
{
    overflow-y: auto;
    /*height: 205px;*/
	height: 410px;
}

#userPanelBody{
	height:450px;
}

#chatContainer
{
	height: 505px;
	display: none;
}

#userContainer{
	/*display: none;*/
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

#videoBtn{
	border: none;
	background-color: transparent;
}

.lobbyContainer{
	text-align: center !important;
	width:500px !important;
	margin: auto;
}

.accountContainer{
	text-align: center !important;
	margin-top:80px !important;
	/*width:500px !important;*/
	max-width:500px !important; 
	margin: auto;
}

.accountHeader{
	
}
.accountInput{
	margin-top:8px !important;
}

.accountBtn{
	margin-top: 10px !important;
}




.btn-connect, .btn-connect:focus{
	border: none !important;
	background-color: none !important;
}

#exitClassroom{
	position: relative;
	top: -40px;
}
