.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.vcenter {
    float: none;
    display: inline-block;
    vertical-align: middle;
    padding: auto;
}

#inputField6{
  margin-top: 0;
}

#chechbox-admin{
  margin-top: 0;
}