<div class="container alert alert-info accountContainer">
  <h2 class="accountHeader">Register</h2>
  <input type="text" ng-model="model.username" class="form-control accountInput" id="inputUsername" placeholder="Username">
  <input type="password" ng-model="model.password1" class="form-control accountInput" id="inputPassword1" placeholder="Password">
  <input type="password" ng-model="model.password2" class="form-control accountInput" id="inputPassword2" placeholder="Verify Password">
  <input type="email" ng-model="model.email" class="form-control accountInput" id="email" placeholder="Email">
  <button type="submit" id="registerBtn" ng-click="model.register()" class="btn btn-warning accountBtn">Register</button>
</div>
