<div class="alert alert-danger" role="alert" id='loginPanel' style="text-align:center">
	<h2 id="loginLabel">Please use HTTPS protocal</h2>
	<a href="https://cs5610-chenze.rhcloud.com"><h3>https://cs5610-chenze.rhcloud.com</h3></a>
</div>
<div class="alert alert-info accountContainer" role="alert">
	<h2 id="guestLabel">Enter your name and GO!</h2>
	<input ng-model="guest" type="text" class="form-control accountInput" placeholder="Enter your name...">
<button ng-click="guestLogin()" class="btn btn-warning accountBtn">Go!</button>
</div>