<nav class="navbar navbar-default site-navbar" ng-controller="HeaderController">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a href="#/home" style="inline"><img class="img-responsive" id="icon-img" src="src/img/logo3.png" width="200"></a>
      <button type="button" ng-show="inClassroom==null || inClassroom==false" data-target="#navbar-collapse-1" data-toggle="collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" ng-show="user==null">
        <li><a target="_blank" href="https://docs.google.com/document/d/18t_mHRPv1JcaK-JUaORx_swNsheeyhX6-m6NKA_bIdM/edit?usp=sharing">Document</a></li>
        <li><a href="#/register">Register</a></li>
        <li><a href="#/login">Login</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-show="user!=null && (inClassroom == null || inClassroom == false)">
        <li><a target="_blank" href="https://docs.google.com/document/d/18t_mHRPv1JcaK-JUaORx_swNsheeyhX6-m6NKA_bIdM/edit?usp=sharing">Document</a></li>
        <li><a href="#/lobby">Welcome! {{user.username}}</a></li>
        <li><a href="" ng-click="model.logout()">Logout</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>